<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <!-- CSS tags-->
    <th:block th:insert="~{fragments/fragments :: cssTags}"/>

    <title>Upload Image for Recipe</title>
</head>
<body>
<div th:replace="~{fragments/fragments :: navbar}"></div>

<div class="container-fluid col-md-8 mt-5">
    <div class="card shadow-sm">
        <div class="card-header">
            <h2 class="card-title h5">Upload an image for recipe</h2>
        </div>
        <div class="card-body">
            <form th:action="@{'/recipe/' + ${ recipe.id } + '/image'}" method="post" enctype="multipart/form-data">
                <label for="imagefile">Select Image</label>
                <input type="file" class="form-control mb-4" id="imagefile" name="imagefile">
                <div class="d-flex justify-content-end">
                    <button class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>


<th:block th:insert="~{fragments/fragments :: scriptsFooter}" />
</body>
</html>