<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <!-- CSS tags-->
    <th:block th:insert="~{fragments/fragments :: cssTags}"/>

    <title>Add or Update a Recipe</title>
</head>
<body>
<div th:replace="fragments/fragments :: navbar"></div>
<!--/*@thymesVar id="recipe" type="com.spring.recipe.domain.Recipe"*/-->
<div class="container-fluid mt-5 d-flex justify-content-center">
    <div class="row">
        <div class="col-md-12">
            <h1 class="display-6 pb-3 mb-5 border-bottom">Add / Update Recipe</h1>
            <form th:object="${recipe}" th:action="@{/recipe/}" method="post">
                <input type="hidden" th:field="*{id}"/>
                <div class="card-group flex-column">
                    <div class="card card-primary rounded mb-5 border border-secondary-subtle">
                        <div class="card-header">
                            <h2 class="card-title h5">Edit Recipe Information</h2>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-3 form-group">
                                    <label>Recipe Description:</label>
                                    <input type="text" class="form-control" th:field="*{description}"/>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 form-group">
                                    <label>Categories:</label>
                                </div>
                                <div class="col-md-9 form-group">
                                    <div class="radio">
                                        <label>
                                            <input type="checkbox" value=""/>
                                            Cat 1
                                        </label>
                                    </div>
                                    <div class="radio" th:remove="all">
                                        <label>
                                            <input type="checkbox" value=""/>
                                            Cat 2
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 form-group">
                                    <label>Prep Time:</label>
                                    <input type="text" class="form-control" th:field="*{prepTime}"/>
                                </div>
                                <div class="col-md-3 form-group">
                                    <label>Cooktime:</label>
                                    <input type="text" class="form-control" th:field="*{cookTime}"/>
                                </div>
                                <div class="col-md-3 form-group">
                                    <label>Difficulty:</label>
                                    <select class="form-control">
                                        <option>Easy</option>
                                        <option>Medium</option>
                                        <option>Hard</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 form-group">
                                    <label>Servings:</label>
                                    <input type="text" class="form-control" th:field="*{servings}"/>
                                </div>
                                <div class="col-md-3 form-group">
                                    <label>Source:</label>
                                    <input type="text" class="form-control" th:field="*{source}"/>
                                </div>
                                <div class="col-md-3 form-group">
                                    <label>URL:</label>
                                    <input type="text" class="form-control" th:field="*{url}"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card card-primary rounded mb-5 border border-secondary-subtle">
                        <div class="card-header">
                            <div class="d-flex justify-content-between">
                                <h1 class="card-title h5">Ingredients</h1>
                                <a class="btn btn-light" href="#" role="button">Edit</a>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <ul class="list-group list-group-flush">
                                    <li th:remove="all" class="list-group-item">1 Cup of milk</li>
                                    <li th:remove="all" class="list-group-item">1 Teaspoon of chocolate</li>
                                    <li th:each="ingredient : ${recipe.ingredients}" class="list-group-item"
                                        th:text="${(ingredient.getAmount() +
                                    ' ' + ingredient.uom.getDescription() +
                                    ' - ' + ingredient.getDescription())}">1 Teaspoon of Sugar
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card card-primary rounded mb-5 border border-secondary-subtle">
                        <div class="card-header">
                            <h1 class="card-title h5">Directions</h1>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12 form-group">
                                    <textarea class="form-control" rows="3" th:field="*{directions}"></textarea></div>
                            </div>
                        </div>
                    </div>
                    <div class="card card-primary rounded mb-5 border border-secondary-subtle">
                        <div class="card-header">
                            <h1 class="card-title h5">Notes</h1>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12 form-group">
                                    <input type="hidden" th:field="*{notes.id}"/>
                                    <textarea class="form-control" rows="3" th:field="*{notes.recipeNotes}"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
</body>
</html>