<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <!-- CSS tags-->
    <th:block th:insert="~{fragments/fragments :: cssTags}"/>

    <title th:text="${recipe.description}"></title>
</head>
<body>
<div th:replace="fragments/fragments :: navbar"></div>
    <div class="container-fluid mt-5 d-flex justify-content-center">
        <div class="col-md-8">
            <div class="">
                <h1 th:text="${recipe.description}" class="mb-3"></h1>
                <p class="mb-5">
                    <span th:each="category : ${recipe.categories}"
                          class="badge text-bg-warning me-2"
                          th:text="${category.description}"></span>
                </p>
                <div class="row">
                    <div class="mb-5">
                        <img src="https://www.thespruceeats.com/thmb/DJi-BQESl0VSPa0PHwEHe3iiUCQ=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/SES-best-simple-guacamole-recipe-7507237-hero-01-089fbb7723ae4e5f8f38bec9487f08e9.jpg"
                             alt=""
                             style="border-radius: 50px; max-width: 100%;"
                        >
                    </div>
                </div>
                <section class="px-3 border py-2 border-dark text-center mb-4">
                    <div class="me-4 d-inline">
                        <span class="fw-bold">Difficulty: </span>
                        <span th:text="${recipe.difficulty}"></span>
                    </div>
                    <div class="me-4 d-inline">
                        <span class="fw-bold">Prep Time: </span>
                        <span th:text="${recipe.prepTime + ' min'}"></span>
                    </div>
                    <div class="me-4 d-inline">
                        <span class="fw-bold">Cook Time: </span>
                        <span th:text="${recipe.cookTime + ' min'}"></span>
                    </div>
                    <div class="me-4 d-inline">
                        <span class="fw-bold">Servings: </span>
                        <span th:text="${recipe.servings}"></span>
                    </div>
                </section>
            </div>
            <div class="mb-5">
                <div>
                    <span class="fw-bold small">Source: </span>
                    <span class="small" th:text="${recipe.source}"></span>
                </div>
                <div>
                    <span class="fw-bold small">URL: </span>
                    <a class="small" th:href="${recipe.url}" th:text="${recipe.url}"></a>
                </div>
            </div>
            <section class="mb-5">
                <div class="d-flex justify-content-between border-bottom pb-2 mb-3">
                    <h2 class="h3">Ingredients</h2>
                    <a th:href="@{'/recipe/' + ${recipe.id} + '/ingredients'}" class="btn btn-primary btn-sm view-ingredients">View</a>
                </div>
                <table>
                    <tr th:each="ingredient : ${recipe.ingredients}">
                        <td class="pe-5">
                            <span th:text="${ingredient.amount}"></span>
                            <span th:text="${ingredient.uom.description}"></span>
                        </td>
                        <td>
                            <span th:text="${ingredient.description}"></span>
                        </td>
                    </tr>
                </table>
            </section>
            <section class="mb-5">
                <h2 class="h3 border-bottom pb-2 mb-3">Directions</h2>
                <p th:text="${recipe.directions}"></p>
            </section>
            <section>
                <h2 class="h3 border-bottom pb-2 mb-3">Notes</h2>
                <p th:text="${recipe.notes.recipeNotes}"></p>
            </section>
        </div>
    </div>

<th:block th:insert="~{fragments/fragments :: scriptsFooter}" />
</body>
</html>