@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --red-300: rgb(235, 134, 142);
    --orange-300: rgb(255, 178, 115);
    --blue-300: rgb(110, 168, 255);
    --bd-violet-bg: rgb(113, 45, 250);
    --bd-violet-bg-hover: rgb(93, 25, 230);
    --bd-violet-rgb: rgb(110, 44, 240);
}

.filter-green {
    filter: brightness(0) saturate(100%) invert(55%) sepia(55%) saturate(7303%) hue-rotate(119deg) brightness(98%) contrast(85%);
}

.navbar-brand span {
    font-family: "Raleway", sans-serif;
    font-weight: 600;
}

.nav-search-icon {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 12px;
    margin-top: 8px;
    z-index: 99;
}

.nav-search-icon + input {
    padding-left: 36px;
}

.raleway {
    font-family: "Raleway", sans-serif;
}

.btn.bg-danger-subtle:hover {
    background: var(--red-300) !important;
}

.btn.bg-warning-subtle:hover {
    background: var(--orange-300) !important;
}

.btn.bg-primary-subtle:hover {
    background: var(--blue-300) !important;
    color: white !important;
}

.view-ingredients {
    height: 2rem;
}

.change-recipe-img {
    padding: 2px 4px 4px 4px;
    font-size: .75rem;
    background: rgba(0, 0, 0, .25);
    text-decoration: none;
    color: white;
}

.change-recipe-img:hover {
    background: rgba(0, 0, 0, .5);
}