<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <!-- CSS tags-->
    <th:block th:insert="~{fragments/fragments :: cssTags}"/>

    <style>
        table tr:last-child td {
            border-bottom: 0;
        }
    </style>

    <title>Recipe Home</title>
</head>
<body>
    <div th:replace="fragments/fragments :: navbar"></div>
    <div class="container-fluid mt-5">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card border-dark">
                    <div class="card-header text-bg-dark">
                        <h1 class="card-title fs-5 fw-normal">My Recipes</h1>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive" th:if="${not #lists.isEmpty(recipes)}">
                            <table class="table table-hover">
                                <thead class="thead-inverse raleway">
                                    <tr>
                                        <th>ID</th>
                                        <th>Description</th>
                                        <th>View</th>
                                        <th>Add</th>
                                    </tr>
                                </thead>
                                <tbody class="table-group-divider">
                                    <tr th:remove="all">
                                        <td th:text="${recipe.id}"></td>
                                        <td th:text="${recipe.description}"></td>
                                        <td><a href="#">view</a></td>
                                    </tr>
                                    <tr th:remove="all">
                                        <td th:text="${recipe.id}"></td>
                                        <td th:text="${recipe.description}"></td>
                                        <td><a href="#">view</a></td>
                                    </tr>
                                    <tr th:each="recipe : ${recipes}">
                                        <!--/*@thymesVar id="recipe" type="com.spring.recipe.domain.Recipe"*/-->
                                        <td th:text="${recipe.id}"></td>
                                        <td th:text="${recipe.description}"></td>
                                        <td>
                                            <a href="#" class="btn btn-sm btn-primary"
                                               th:href="@{'/recipe/' + ${recipe.id} + '/show'}">view</a>
                                        </td>
                                        <td>
                                            <a href="#" class="btn btn-sm btn-warning"
                                               th:href="@{'/recipe/' + ${recipe.id} + '/update'}">update</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="mt-2 d-flex justify-content-end">
                            <a th:href="@{'/recipe/new'}" class="btn btn-success">Add</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
</body>
</html>